@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');
@import url("fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Arvo:700");

body {
   background-color: #fde994;
   background-image: linear-gradient(to right, #f3cc1e , #f5dd7b);
   
  }

h1 {
  color: #83580b;
  text-align: center;
  background-color: #fde994; 
  border: 6px solid #615a18;
  color: #83580b;
  padding: 15px 32px;
  font-family: Tiny5;
	  font-size: 35px;
}

h2 {
  color: #83580b;
  text-align: center;
  font-family: Tiny5;
  font-size: 30px;
}

p {

  color: #83580b;
  text-align: center;
  font-family: Tiny5;
}

em {
  color: #910e0e;
}

i {
  color: #910e0e;
}

b {
color: #412e0a;
}

strong {
  color: #412e0a;
  }

  .Intro1{
    color: #83580b;
    text-align: center;
    background-color: #fde994; 
    border: 6px solid #615a18;
    color: #83580b;
    padding: 15px 32px;
    font-family: Tiny5;
  }

  .Intro2{
    color: #83580b;
    text-align: center;
    background-color: #fde994; 
    border: 6px solid #615a18;
    color: #83580b;
    padding: 15px 32px;
    font-family: Tiny5;
  }

  .IHATEYOU {
    color: black;
    text-align: center;
    font-family: Tiny5;
    font-size: 40px;
  }
  

.buttoncenter {
width: 100%
   min-width: 50px;
   max-width: 300px;
	
  background-color: #fde994; 
  border: 6px solid #615a18;
  color: #83580b;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 20px;
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: Tiny5;

}

.Image1 {

text-align: center;
  
}

.Image2 {

  text-align: center;

}
.center {
  text-align: center;
}

.button1 {
width: 100%
text-align: center;

	
  background-color: #fde994; 
  border: 6px solid #615a18;
  color: #83580b;
  padding: 15px 32px;
  margin: 1;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 20px;
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: Tiny5;
  
}

.button2 {
	width: 100%
text-align: center;
	
  background-color: #fde994; 
  border: 6px solid #615a18;
  color: #83580b;
  padding: 15px 32px;
  margin: 1;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 20px;
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: Tiny5;
}

.buttoncenter:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.button1:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.button2:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

iframe {
 aspect-ratio: 16/9;
  width: 100%;
  height: 100%;
}

.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
  font-size: 60px;
  text-align: center;

}
.waviy span {
  font-family: 'Tiny5', cursive;
  position: relative;
  display: inline-block;
  color: #83580b;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));
  text-align: center;
  
}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}

.box5 {
  display: inline-block;
  width: 100;
  margin: 1em;
  padding: 5px;

  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);

}

.img{
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */    
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray; /* IE 6-9 */
  height: 110px;
  width: 190px;
}

.img:hover {
	-webkit-filter: none;
	-moz-filter: none;
	-ms-filter: none;
	filter: none;
	}

  a {
    position: relative
    }
    
    a span {
    display: none;
    position: absolute;
    bottom: 0;
    width: 93%;
    padding: 10px;
    background: rgba(170, 146, 9, 0.8);
    }
    
    a:hover span {
    display: block;
    }

.movecenter {
	text-align:center;
]
